
<div class="main">
  <div class="form">
    <div class="input">

      <div class="row between m10 prl">
        <div>Количество километров</div>
        <input   [(ngModel)]="distance" class="m0p0 w45" >
      </div>

      <div class="row between m10 prl">
        <div>Возраст</div>
        <input  [(ngModel)]="age" class="m0p0 w45" >
      </div>

      <div class="row between m10 prl">
        <div>Вес багажа</div>
        <input  [(ngModel)]="baggage" class="m0p0 w45" >
      </div>

    </div>
    <div class="m10 prl dflx">
      <button (click)="calc()" class="flex1" mat-raised-button color="primary">Рассчитать</button>
    </div>

    
    <div class="m10 prl">
      <div>Предложенние</div>
      <div >
      <table class="table dflx">
        <th class="dflx">Аэрофлот</th>
        <tr *ngIf="aero1">Эконом: {{ aero1 }}</tr>
        <tr *ngIf="aero2">Продвинутый: {{ aero2 }}</tr>
        <tr *ngIf="aero3">Люкс: {{aero3}}</tr>
        <th class="dflx">РЖД</th>
        <tr *ngIf="rjd1">Эконом: {{rjd1}}</tr>
        <tr *ngIf="rjd2">Продвинутый: {{rjd2}}</tr>
        <tr *ngIf="rjd3">Люкс: {{rjd3}}</tr>
      </table>
    </div>
    </div>
  </div>
</div>